*{
    margin: 0px;
    padding: 0px;
}


body{
    /* margin: 0px;
    padding: 0px; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgba(52, 11, 52, 0.116);
}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-task-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
}

#taskInput{
    margin-bottom: 9px;
    width: 80vw;
    height: 30px;

}

button{
    color: white;
    background-color: green;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    gap: 10px;
    
}

#taskList{
    background-color: white;
}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
li{
    width: 60vw;
    box-shadow: o 2px 4px rgba(0,0,0,.1);
}
.delete-button{
    background-color: red;
    float: right;
}

